<div id="results">

Yelp.client.search("New York", { term: 'happy_hour'})

params = {
	term: "happy hour",
	limit: 15,
	offset: 20,
	sort: 1,
	category_filter: "beer_and_wine",
	radius_filter: 8047
}

locale = {
	location: "zip code"
}

client.search("New York", params, locale)

</div> 