<div class="map_center"></div>
	<div id="control_map">
		<div id="map_search">
			<form>
				<input type="text">
				<a id="map_search_submit" href="#"></a>
			</form>
		</div>

		<div id="results"></div>
</div>

